<div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div id="photo-header" class="text-center">
            <!-- PHOTO (AVATAR) -->
            <div id="photo">
            	<%= image_tag("avatar.png", :alt => "Avatar", :id => "avatar", :class => "img-responsive") %> 
            </div>
            <div id="text-header">
              <h1>Hello,<br> my name is <span>Lloyd D'Silva</span> and this is my resume/portfolio</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-7">
          <!-- ABOUT ME -->
          <div class="box">
            <h2>Objective</h2>
            <p>Seeking a full-time Product Management / Software Engineering role, in Silicon Valley, starting in August 2015.</p>
            <p>Over 5 years of Tech / Product experience in Investment Banking Technology and Web Startups.</p>
          </div>
          <!-- EDUCATION -->
          <div class="box">
            <h2>Education</h2>
            <ul id="education" class="clearfix">
              <li>
                <div class="year pull-left">2015</div>
                <div class="description pull-right">
                  <h3>Carnegie Mellon Silicon Valley, Mountain View, CA</h3>
                  <p>Masters of Science in Software Management. Current GPA 4.0/4.0</p>
                  <p>Technology Product / Process / Project / Financial Management</p>
                  <p>Awarded Software Management Fellowship</p>
                </div>
              </li>
              <li>
                <div class="year pull-left">2013</div>
                <div class="description pull-right">
                  <h3>The Founder Institute, San Francisco, CA</h3>
                  <p>Startup Pre-Accelerator</p>
                  <p>Ideation, Customer Development, Legal & IP, Hiring, Product Development, Sales & Customer Acquisition, Revenues, Marketing & Fund Raising</p>
                </div>
              </li>
              <li>
                <div class="year pull-left">2008</div>
                <div class="description pull-right">
                  <h3>National University of Singapore, Singapore</h3>
                  <p>Bachelors of Computing (Honors) in Computer Engineering with Minor in Financial Math</p>
                  <p>Undergraduate Discussion Leader - CS1102X Data Structures & Algorithms</p>
                </div>
              </li>
              <li>
                <div class="year pull-left">2004</div>
                <div class="description pull-right">
                  <h3>MES Indian School, Doha, Qatar</h3>
                  <p>Best Graduating Student Award</p>
                </div>
              </li>
            </ul>
          </div>
          <!-- EXPERIENCES -->
          <div class="box">
            <h2>Work Experience</h2>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where">Carnegie Mellon Silicon Valley</div>
                <div class="year">Jan 2015 - May 2015</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">Graduate Assistant</div>
                <div class="description">Built a full-stack Web and Android app for fire-fighters and commanders, to coordinate emergency response during fires. Integrated the system with a wearable vest to track vital statistics of first responders while on the scene.</div>
              </div>
            </div>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where">HomeSquare Labs</div>
                <div class="year">Mar 2013 - Aug 2014</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">Founder (Product / Tech)</div>
                <div class="description">Built a neighborhood & apartment level social network to help residents in Singapore mutually discover, communicate and bond with each other. Accessible at http://www.homesquare.co</div>
              </div>
            </div>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where">Barclays Investment Bank</div>
                <div class="year">Mar 2012 - Mar 2013</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">Assistant Vice President, Sales Trade Capture Technology</div>
                <div class="description">Responsible for Software Requirements, Execution and Delivery of all APAC requirements
around Sales Trade Capture for a subset of investment banking products – government bonds and interest rate derivatives.</div>
              </div>
            </div>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where">Barclays Investment Bank</div>
                <div class="year">Mar 2010 - Mar 2012</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">Analyst, Sales Trade Capture Technology</div>
                <div class="description">Software Engineer (Java) for APAC requirements related to Sales Workstation – a Sales Trade Capture platform used by Sales, Operations and Finance globally.</div>
              </div>
            </div>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where">Barclays Investment Bank</div>
                <div class="year">Aug 2008 - Mar 2010</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">Graduate Rotation Program, Technology</div>
                <div class="description">Rotated among 3 technology teams for 6 months each spanning – Sales Quick Wins
Technology, IT COO Office, Business Intelligence Technology. Delivered a wide range of technology projects on Java, ASP .Net, Excel VBA, SQL Server Business Intelligence.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5">
          <!-- RESUME -->
          <div class="box clearfix">
            <h2>PDF Resume</h2>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-download fa-fw"></span></div>
              <div class="title only pull-right"><a href="http://www.lloyddsilva.com/resume.pdf">Resume</a></div>
            </div>
          </div>
          <!-- CONTACT -->
          <div class="box">
            <h2>Contact</h2>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
              <div class="title only pull-right">lloyddsilva [at] gmail.com</div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-linkedin fa-fw"></span></div>
              <div class="title pull-right">LinkedIn</div>
              <div class="description pull-right"><a href="https://www.linkedin.com/in/lloyddsilva">https://www.linkedin.com/in/lloyddsilva</a></div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-github fa-fw"></span></div>
              <div class="title pull-right">GitHub</div>
              <div class="description pull-right"><a href="https://github.com/lloyddsilva">https://github.com/lloyddsilva</a></div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-twitter fa-fw"></span></div>
              <div class="title pull-right">Twitter</div>
              <div class="description pull-right"><a href="https://twitter.com/lloydjdsilva">https://twitter.com/lloydjdsilva</a></div>
            </div>
          </div>
          <!-- TECHNICAL SKILLS -->
          <div class="box clearfix">
            <h2>Technical Skills</h2>
            <div class="skills">
              <div class="item-skills" data-percent="1.00">Java</div>
              <div class="item-skills" data-percent="1.00">SQL</div>
              <div class="item-skills" data-percent="0.80">Ruby on Rails</div>
              <div class="item-skills" data-percent="0.75">Android</div>
              <div class="item-skills" data-percent="0.25">Node JS</div>
              <div class="skills-legend clearfix">
                <div class="legend-left legend">Beginner</div>
                <div class="legend-left legend"><span>Proficient</span></div>
                <div class="legend-right legend"><span>Intermediate</span></div>
                <div class="legend-right legend">Expert</div>
              </div>
            </div>
          </div>
          <!-- PRODUCT MANAGEMENT SKILLS -->
          <div class="box">
            <h2>Product Management Skills</h2>
            <div id="language-skills">
              <div class="skill">Customer Interviews </div>
              <div class="skill">User Stories </div>
              <div class="skill">Requirements Prioritization </div>
              <div class="skill">Software Product Strategy </div>
              <div class="skill">Software Marketing </div>
              <div class="skill">Software Financials </div>
              <div class="skill">Process & Project Management </div>
            </div>
          </div>
          <!-- HOBBIES -->
          <div class="box">
            <h2>Hobbies</h2>
            <div class="hobby">Travelling</div>
            <div class="hobby">Programming</div>
          </div>
        </div>
      </div>
    </div>
